* {
  font-family: "Poiret One", cursive;
  
}

body {
  background-color: rgb(63, 63, 63);
}
/* Movie selector */
#movie-title {
  margin-left: 20px;
  font-size: 40px;
  font-weight: bold;
}

/* Buttons for Movies */
.space {
  font-weight: 600;
  color: black;
  background-color: rgb(231, 129, 61);
  margin: 5px;
  border-radius: 10px;
}
/* Back btn for the alt html */
.space1 {
  font-weight: bolder;
  font-size: large;
  color: black;
  background-color: rgb(231, 129, 61);
  margin: 5px;
  border-radius: 10px;
  height: 45px;
  width: 145px;
}
/* Header */
.nav-wrapper {
  padding-top: 10px;
  background-color: rgb(194, 49, 90);
  height: 100px;
}

/* hover effect for btn */
.waves-effect:hover {
  background-color: rgb(255, 255, 255);
}
/* Search input */
#search {
  border-radius: 10px;
  margin-right: 20px;
  height: 60px;
}
/* Size of background for header */
nav {
  height: 85px;
}


.main-container1 {
  display: flex;
  justify-content: center;
  padding-left: 150px;
}

.main-container2 {
  display: flex;
  justify-content: center;
  padding-left: 150px;
}

footer  {
  text-align: center;
  background-color: rgb(194, 49, 90);
  padding-bottom: 1px;
  
  
}

h3 {
  font-size: 20px;
  font-weight:bolder;
}

.row{
  height: 100vh;
  width: 100vw;
}