* {
  font-family: "Poiret One", cursive;
}

body {
  background-color: rgb(63, 63, 63);
}
/* Movie selector */
#movie-title {
  color: white;
  margin-left: 20px;
  font-size: 40px;
  font-weight: bolder;
}

/* Buttons for Movies */
.space {
  font-size: 24px;
  font-weight: 600;
  color: black;
  background-color: rgb(231, 129, 61);
  margin: 5px;
  border-radius: 10px;
  width: 200px;
}
/* Back btn for the alt html */
.space1 {
  font-weight: bolder;
  font-size: large;
  color: black;
  background-color: rgb(231, 129, 61);
  margin: 5px;
  border-radius: 10px;
  height: 45px;
  width: 145px;
}
/* Header */
.nav-wrapper {
  padding-top: 10px;
  background-color: rgb(194, 49, 90);
  height: 100px;
}

/* hover effect for btn */
.waves-effect:hover {
  background-color: rgb(255, 255, 255);
}
/* Search input */
#search {
  border-radius: 10px;
  margin-right: 20px;
  height: 60px;
}
/* Size of background for header */
nav {
  height: 85px;
}

.main-container1 {
  display: flex;
  justify-content: center;
  padding-left: 150px;
}

.main-container2 {
  display: flex;
  justify-content: center;
  padding-left: 150px;
}

footer {
  text-align: center;
  background-color: rgb(194, 49, 90);
  padding-bottom: 1px;
}

h3 {
  font-size: 20px;
  font-weight: bolder;
}

.card-content {
  color: black;
  font-weight: 800;
  border: 3px solid rgb(194, 49, 90);
  border-radius: 5px;
}

.card {
  border: 3px solid rgb(194, 49, 90);
  border-radius: 5px;
  width: 350px;
  height: auto;
}

.card-title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: rgb(255, 255, 255);
  height: auto;
  width: auto;
  background-color: rgb(194, 49, 90);
}

.card-image {
  max-height: 400px;
  max-width: auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#title1,
#title2,
#title3,
#title4,
#title5,
#title6 {
  font-weight: 800;
}

#plot1 {
  color: black;
}

.img-container {
  background-image: url(./Images/Darker.jpg);
  background-size: cover;
  background-position: center;
  padding: 0;
  margin: 0;
}

body,
.img-container2 {
  background-image: url(./Images/Darker.jpg);
  background-size: cover;
  padding: 0;
  margin: 0;
}

.page2 {
  width: 500px;
  height: auto;
}

.redirect1 {
  padding-top: 150px;
}
